In [4]:
import pandas as pd
from sklearn.datasets import load_iris

iris = pd.read_csv('../Dataset/Iris.csv')

#melihat informasi dataset
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
#menghilangkan kolom yang tidak penting
iris.drop('Id', axis=1, inplace=True)

In [7]:
#memisahkan atribut
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris['Species']

#Membagi dataset menjadi data latih dan data uji
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1, random_state=123)

In [8]:
from sklearn.tree import DecisionTreeClassifier

#membuat model decision tree
tree_model = DecisionTreeClassifier()

#melatih model dengan mengggunakan data latih
tree_model = tree_model.fit(X_train, y_train)

In [9]:
#Evaluasi model
from sklearn.metrics import accuracy_score

y_pred = tree_model.predict(X_test)
acc_score = round(accuracy_score(y_pred, y_test), 3)
print("Accuracy: ", acc_score)

Accuracy:  0.933

#prediksi model dengan tree_model.predict

print(tree_model.predict([[6.2, 3.4, 5.4, 2.3]]))

In [10]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "iris_tree.dot",
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-sentosa', 'Iris-versicolor', 'Iris-verginica'],
    rounded = True,
    filled = True
    )